.jumbotron {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    background-color: #122940 !important;
    color: white;
  }

  .header {
    font-weight: bolder;
    font-size: 75px;
  }
  
  .form-control {
    max-width: 300px !important;
  }
  
  thead {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #275A8C;
    color: white;
  }
  
  .clickable {
    cursor: pointer;
    padding: 10px;
  }
  
  thead span.descending::after {
    content: "⬇";
    display: inline-block;
    margin-left: 3px;
  }
  
  thead span.ascending::after {
    content: "⬆";
    display: inline-block;
    margin-left: 3px;
  }